:host >>> table {
    border-collapse: separate;
    table-layout: fixed !important;
    word-break: break-all;
    border-spacing: 0;
    font: 12px sans-serif;
    color: #333;
    width: 100%;
    height: 100%;
    display: block;
    overflow: auto;
    -webkit-overflow-scrolling: scroll;
    position: relative;
    border: 0.5px solid #ccc;
    box-sizing: initial;
    /* will-change: transform; */
}

:host >>> thead {
    background-color: #ddd;
    /* position: fixed; */
}

/* tbody {
    margin-top: 25px;
    display: block;
}*/

/* #blank-cell {
    position: fixed;
}*/

:host >>> ._th {
    font-weight: bold;
    background: #ddd;
}

:host >>> ._tr {
    width: auto;
    min-width: 28px;
}

:host >>> ._space {
    width: 100%
}

:host >>> th {
    font-weight: bold;
    background: #ddd;
}

:host >>> th,
:host >>> td {
    padding: 0.5em;
    height: 12px;
    line-height: 12px;
    min-height: 12px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:host >>> td {
    cursor: cell;
    background-color: white;
}

:host >>> th span,
:host >>> td span {
    display: block;
    width: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected {
    box-shadow: inset 0 0 0 2px blue;
}

.sortable-header {
    cursor: pointer;
}

.sortable-header:hover {
    text-decoration: underline;
}

.disable {
    color: rgba(160, 160, 160, 1) !important;
}

.newClass {
    background-color: #BDBDBD;
}

.format-error {
    background: red !important;
    color: white !important;
}

.top-left {
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 25px;
    height: 12px;
}

.fixed-left.fixed-top {
    z-index: 9999 !important;
    position: relative;
}