<table ngKeyboardEvents [rowLimit]="rowLimit" [colLimit]="colLimit">
  <thead>
    <tr myHighlight class="_th">
      <th class="_th _tr"></th>
      <th *ngFor="let header of headers; let headerColIndex = index" ngSortable [data]="gridData" id="{{headerColIndex}}">{{header}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of gridData; let rowId = index">
      <th class="_th _tr">{{rowId+1}}</th>
      <td *ngFor="let cell of row; let cellId = index" ngEditable id="{{rowId}}-{{cellId}}">
        <span>{{cell}}</span>
      </td>
    </tr>
  </tbody>
</table>