* {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

table, th, td {
   border: 1px solid #ddd;
}

th, td {
    padding: 2px;
    width: 60px;
    height: 10px;
    overflow: hidden;
}

._th {
    background-color: #E0DEDA
}

._tr {
    width: 15px;
}