* {
    font: 12px sans-serif;
    color: #333;
}

table {
    border-collapse: collapse;
    table-layout: fixed !important;
    word-break: break-all;
    border-spacing: 0;
}

table tbody,
table thead {
    display: block;
}

thead {
    background-color: #ddd;
}

tbody {
    overflow: auto;
    height: 250px;
}

table,
th,
td {
    border: 1px solid #ccc;
}

._th {
    font-weight: bold;
    background-color: #ddd;
}

._tr {
    width: auto;
    min-width: 20px;
}

._space {
    width: 100%
}

th {
    font-weight: bold;
    background-color: #ddd;
}

th,
td {
    padding: 0.5em;
    height: 10px;
    width: 60px;
    line-height: 10px;
}

td span {
    width: 60px;
}

.selected {
    box-shadow: inset 0 0 0 2px blue;
    /* border: 2px solid blue;*/
}