<table ngEditable ngKeyboardEvents [rowLimit]="rowLimit" [colLimit]="colLimit">
  <thead>
    <tr class="_th">
      <th id="blank-cell" class="_th _tr top-left"></th>
      <th class="_th _tr fixed-top"></th>
      <th *ngFor="let header of headers; let headerColIndex = index" id="{{headerColIndex}}" class="fixed-top">{{header}}</th>
    </tr>
  </thead>
  <tbody ngPaste>
    <tr *ngFor="let row of gridData; let rowId = index;trackBy: trackByFn">
      <th id="row-{{rowId}}" class="_th _tr fixed-left">{{rowId+1}}</th>
      <td *ngFor="let cell of row; let cellId = index"  id="{{rowId}}-{{cellId}}"  
        (mousedown) = "onSelectionStart(rowId, cellId)" 
        (mousemove)="onSelection(rowId, cellId)" 
        (mouseup)="onSelectionEnd(rowId, cellId)">
        <span>{{cell}}</span>
      </td>
    </tr>
  </tbody>
</table>