* {
    font: 12px sans-serif;
    color: #333;
}

table {
    border-collapse: collapse;
    table-layout: fixed !important;
    word-break: break-all;
}

table,
th,
td {
    border: 1px solid #ccc;
}

._th {
    font-weight: bold;
    background-color: #ddd;
}

._tr {
    width: 20px;
}

th {
    font-weight: bold;
    background-color: #ddd;
}

th,
td {
    padding: 0.5em;
    width: 60px;
    height: 10px;
    overflow: hidden;
}

td span {
    width: 60px;
}

.selected {
    box-shadow: inset 0 0 0 2px blue;
}